.register-action-container {
  padding: 35px 15px 15px 15px;
  background-color: #ffffff;
  width: 60%;
  max-width: 600px;
  min-width: 300px;
  height: fit-content;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-action-logo {
  width: 100px;
  margin: 0;
  padding: 0;
}

.register-action-container h1 {
  font-weight: 400;
  letter-spacing: -3px;
  margin: 0;
  padding: 0px 0px 20px 0px;
  color: #494949;
  font-family: "Lexend Exa", sans-serif !important;
}

.register-action-names-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 95%;
}

.register-action-button {
  width: 90%;
  height: 50px;
  padding: 0;
  margin: 30px 0px 0px 0px;
  border-radius: 10px;
  border: none;
  background-image: -webkit-linear-gradient(180deg, #76e7aa, #8ae2e8);
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -1px;
  cursor: pointer;
  font-family: "Lexend Exa", sans-serif !important;
}

.register-action-switch-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding-top: 10px;
}

.register-switch-text {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -1px;
  color: #494949;
  text-decoration: none;
}

.register-switch-link {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -1px;
  background-image: -webkit-linear-gradient(180deg, #41e58e, #40ced8);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.register-switch-link:hover {
  cursor: pointer;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
