h1 {
  color: black;
  font-family: "Lexend";
}

.app-largecountcards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.app-main-topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-right: 50px;
}
.arrow {
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin: 0px 5px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin: 0px 5px;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 700;
  transition: 200ms ease-in-out;
  background: transparent;
}

button:hover {
  transform: translateY(-2px);
}
