.timeperiodcarousel-container {
  font-family: "Lexend", sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

p {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  padding: 0px 10px;
  text-align: center;
  background-image: -webkit-linear-gradient(180deg, #76e7aa, #8ae2e8);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.arrow {
  border: solid;
  border-color: #aeaeae !important;
  border-width: 0px 3px 3px 0px;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin: 0px 5px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin: 0px 5px;
}

button {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 700;
  transition: 200ms ease-in-out;
  background: transparent;
}

button:hover {
  transform: translateY(-2px);
}
