.settings-container {
  height: 100%;
  overflow: visible;
  font-family: "Lexend Exa", sans-serif !important;
  color: #494949;
}

.settings-container-no-header {
  border-radius: 20px;
  background: linear-gradient(
    63deg,
    rgba(232, 253, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(238, 255, 246, 1) 100%
  );
  height: calc(100% - 160px);
  padding: 40px;
  overflow: auto;
}

.settings-user-name {
  letter-spacing: -1px;
  font-size: 36px;
}

.settings-user-logout {
  color: #f54848;
}

.settings-person-line {
  padding-bottom: 7px;
}

.settings-user-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 20px;
}

.settings-user-block-left {
  padding-right: 20px;
}

.settings-user-logout:hover {
  cursor: pointer;
  text-decoration: underline;
}

.setting-options-block {
  width: 400px;
}

.settings-save-button {
  width: 120px;
  height: 40px;
  margin-top: 5px;
  border-radius: 10px;
  border: none;
  background-image: -webkit-linear-gradient(180deg, #76e7aa, #8ae2e8);
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -1px;
  cursor: pointer;
  font-family: "Lexend Exa", sans-serif !important;
}

.settings-budget-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  height: 100%;
}

@media (max-width: 700px) {
  .settings-user-block {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
  }
  .settings-user-block-left {
    padding-right: 0px;
  }
  .settings-user-block-right {
    padding-top: 20px;
  }

  .setting-options-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
  }
}
