.categorybreakdownbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  border-radius: 10px;
  height: 40px;
  padding: 0px;
  margin: 0px;
  background: linear-gradient(90deg, #76e7aa, #8ae2e8);
}

.categorybreakdownbar-value {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  font-family: "Lexend", sans-serif;
  color: #ffffff;
  letter-spacing: 0.05em;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0px 10px;
}

.categorybreakdownbar-divider {
  width: 3px;
  height: 100%;
  background-color: #ffffff;
  margin: 0px;
  padding: 0px;
}
