h1 {
  color: black;
  font-family: "Lexend";
}

.app-main-logo {
  width: 300px;
  object-fit: contain;
}

.app-largecountcards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
